.bg-ttl {
  background-color: #32cd32;
}

.hero {
  height: 22rem;
  overflow: hidden;
  position: relative;
}

.hero-img {
  filter: brightness(75%);
}

.hero-body {
  color: var(--bs-white);
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

#navbar-toggler-checkbox:checked ~ .collapse {
  display: block;
}

#navbar-toggler-checkbox {
  display: none;
}

a {
  color: inherit;
}

section:target > div > .card, tr:target {
  border: 2px solid var(--bs-primary);
}
