/* || Themes */

[data-bs-theme="dark"] {
  --bs-nav-pills-link-active-bg: #196719;
  --bs-primary-rgb: rgb(25 103 25);
}

[data-bs-theme="light"] {
  --bs-nav-pills-link-active-bg: #32cd32;
  --bs-primary-rgb: rgb(50 205 50);
}

/* || Buttons */

.ttl-btn-body {
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-focus-shadow-rgb: var(--bs-body-bg-rgb);
  --bs-btn-hover-bg: var(--bs-tertiary-bg);
  --bs-btn-hover-border-color: var(--bs-border-color-translucent);
}

/* || Heroes */

.ttl-hero {
  overflow: hidden;
  position: relative;
}

.ttl-hero-body {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ttl-hero-img {
  filter: brightness(75%);
}

.ttl-hero-size-lg {
  height: 22rem;
}

.ttl-hero-size-sm {
  height: 11rem;
}

/* || Navbar Togglers */

.ttl-navbar-toggler {
  display: none;
}

.ttl-navbar-toggler:checked ~ .collapse {
  display: block;
}

/* || General Styles */

a {
  color: inherit;
}

section:target > div > .card {
  border: 2px solid var(--bs-primary);
}

table {
  overflow: hidden;
}

tr:target {
  border: 2px solid var(--bs-primary);
}