.bg-thetntlabs {
  background-color: #32CD32;
}

.hero {
  height: 22rem;
  position: relative;
  overflow: hidden;
}

.hero-image {
  filter: brightness(75%);
}

.hero-text {
  color: #FFFFFF;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

#navbar-toggler-checkbox:checked ~ .collapse {
  display: block;
}

#navbar-toggler-checkbox {
  display: none;
}

a {
  color: inherit;
}
